.background{
  /* background-image: url(https://images.unsplash.com/photo-1635346245281-14201c7a768a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* background: lightblue;
   */
   background-color: rgb(11, 179, 170);
   background-image: linear-gradient(90deg, rgb(11, 179, 170), #102040);;
}
html{
  scroll-behavior: smooth;
}
.shadow{
  box-shadow: 0px 0px 10px black;
}
.backblur{
  backdrop-filter: blur(5px);
}

.posts{
  max-width: 700px;
}
.textarea{
  box-shadow: inset 0px 0px 5px  black;
  outline: 0;
}
.btn-active{
  transition: transform 0.2s;
}
.btn-active:active{
  transform: scale(0.9);
}
.btn-active:hover{
  transform: scale(1.02);
}
.animation{
  animation: jump alternate infinite 0.5s;
  animation-timing-function: ease-in-out;
  transform: translateY(0px) rotate(90deg);
}
@keyframes jump{
  from{
    transform: translateY(0px) rotate(90deg);
  }
  to{
    transform: translateY(10px) rotate(90deg);
  }
}

.usersTable th, .usersTable td , .usersTable tr{
  border: 1px black solid;
  padding: 10px;
}
.usersTable{
  table-layout: auto;
  border-collapse: collapse;
}


.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
  width: 400px;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container span {
  text-decoration: none;
  color: rgb(2, 247, 235);
  cursor: pointer;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 6px 6px 12px rgba(34, 34, 34, 0.4);
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
.text {
  margin-top: 30px;
  font-size: 1.3rem;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 3px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(2, 247, 235);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(2, 247, 235);
  transform: translateY(-30px);
}